<mat-toolbar color="primary">
    <span>{{title}}</span>
    <nav>
        <a routerLink="/list">
            <button mat-raised-button>
                List View
            </button>
        </a>
        <a routerLink="/tiles">
            <button mat-raised-button>
                Tile View
            </button>
        </a>
    </nav>

    <!-- This fills the remaining space of the current row -->
    <span class="space-fill"></span>

    <button mat-raised-button (click)="pokemonService.clearFilters()">Clear Filter</button>

    <app-pokemon-search></app-pokemon-search>

    <app-filter-menu></app-filter-menu>

</mat-toolbar>