[class*='col-'] {
    float: left;
    padding: 10px 1% 10px 0;
}

mat-card {
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

mat-card :hover {
    cursor: pointer;
}

.grid {
    margin: 0;
}

.col-1-3 {
    width: 32%;
}

mat-card img {
    width: 50%;
}