h4 {
    text-align: center;
}

.spaced {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.spaced button {
    margin: 5%;
}

mat-form-field {
    width: 90%;
    margin-left: 5%;
}